#container
{
    height:100px;
    width:100px;
    position:relative;

     
}

#image
{    
    position:absolute;
    left:0;
    top:0;
    height:150px;
    width:150px;
    border:1px dashed white;
   
   
}

#text
{
    z-index:10;
    position:absolute;    
    color:white;
    font-size:13px;
    font-weight:bold;
    margin-top:41%;
    margin-left:50px;
    text-align:center;
    font-family:Bell MT;
/*Sign up for the 5K*/ 

}

#text2
{
    z-index:10;
    position:absolute;    
    color:white;
    font-size:13px;
    font-weight:bold;
    margin-top:55%;
    margin-left:50%;
    text-align:center;
    font-family:Bell MT;
/*Join the Support Group!!*/
}

#text3
{
    z-index:10;
    position:absolute;    
    color:white;
    font-size:13px;
    font-weight:bold;
    margin-top:55%;
    margin-left:51%;
    text-align:center;
    font-family:Bell MT;

}

ul li {
    display:inline-block;
    margin:20px;
    margin-right:100px;
}

#explanatory {
    position:relative;
    margin-top:90px;
    text-indent:2em;   
}

.viking {
    display:block;
    margin-left:auto;
    margin-right:auto;
    padding-top:20px;
    padding-bottom:50px;
}

ul {
    
    position:relative;
    list-style-type:none;
    margin-right:auto;
    margin-left:auto;
    width:45em;
}

div #explanatory {
    width:45em;
    display:block;
    margin-right:auto;
    margin-left:auto;
}

#header {
    font-size:2.5em;
    text-align:center;
    font-family: Bell MT;
}

span {
    font-family: Castellar;
}


body {
    background-image: url(vag3.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size:cover;
}




 a:hover #text{
color:pink;
    z-index:10;
}

a:hover #text2 {
    color:pink;
    z-index:10;
}

a:hover #text3 {
    color:pink;
    z-index:10;
}
